/* formulario de login */

.caixa_formulario_cadastro {
    background: white;
    width: 400px;
    height: 420px;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.caixa_formulario_cadastro h1 {
    font-size: 30px;
}
.formulario_cadastro {
    width: 200px;

    display: flex;
    flex-direction: column;
}

.formulario_cadastro input {
    padding: 10px 15px;
    text-align: center;
    border: solid 2px rgb(82, 143, 196);
    border-radius: 4px;
}

.formulario_cadastro button {
    width: 120px;
    margin-top: 10px;
    background: #e1374e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    align-self: center;
}

.formulario_cadastro span {
    margin-top: 8px;
    font-weight: 800;
    font-size: 15.5px;
}
